# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor directories and files
/__pycache__
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other datasets
/class_data
/original_class_data